## Coin-Tab Project...

In [1]:
import pandas as pd

In [2]:
data_1=pd.read_excel("Company X - Order Report.xlsx")

b=pd.read_excel("Company X - Pincode Zones.xlsx")

data_2=pd.read_excel("Company X - SKU Master.xlsx")
d=pd.read_excel("Courier Company - Invoice.xlsx")
e=pd.read_excel("Courier Company - Rates.xlsx")
d

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4

In [3]:
new=pd.merge(d,b,on=["Warehouse Pincode","Customer Pincode"],how="inner")
new

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Zone_y
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,d
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,d
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,d
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,b
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,d
...,...,...,...,...,...,...,...,...,...
169,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4,b
170,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4,b
171,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2,b
172,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7,b
173,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4,b

In [4]:
y=pd.merge(data_1,data_2,on="SKU",how="outer")

y["total_weight"]=y["Order Qty"]*y["Weight (g)"]/1000
y=y.rename(columns={"ExternOrderNo":"Order ID"})
y

       Order ID            SKU  Order Qty  Weight (g)  total_weight
0    2001827036  8904223818706        1.0         127         0.127
1    2001821995  8904223818706        1.0         127         0.127
2    2001819252  8904223818706        1.0         127         0.127
3    2001816996  8904223818706        1.0         127         0.127
4    2001814580  8904223818706        1.0         127         0.127
..          ...            ...        ...         ...           ...
396  2001806616  8904223819123        1.0         250         0.250
397  2001806567  8904223815804        1.0         160         0.160
398  2001806567  8904223818577        1.0         150         0.150
399  2001806408  8904223819437        2.0         552         1.104
400  2001806232  8904223818645        6.0         137         0.822

[401 rows x 5 columns]

In [5]:
y=y.groupby("Order ID").agg({"total_weight":"sum"})

y=y.reset_index()
y

       Order ID  total_weight
0    2001806210         0.220
1    2001806226         0.480
2    2001806229         0.500
3    2001806232         1.302
4    2001806233         0.245
..          ...           ...
119  2001821995         0.477
120  2001822466         1.376
121  2001823564         0.672
122  2001825261         1.557
123  2001827036         2.176

[124 rows x 2 columns]

In [6]:
new_1=pd.merge(new,y,on="Order ID",how="inner")

In [7]:
new_1

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Zone_y,total_weight
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,d,1.302
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,d,0.615
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,d,2.265
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,b,0.700
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,d,0.240
...,...,...,...,...,...,...,...,...,...,...
169,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4,b,0.750
170,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4,b,0.750
171,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2,b,0.500
172,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7,b,0.607
173,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4,b,0.515

In [8]:
new=pd.merge(d,b,on=["Warehouse Pincode","Customer Pincode"],how="inner")
#new[new["Zone_x"]!=new["Zone_y"]]
new_1=pd.merge(new,y,on="Order ID",how="inner")
def x(pi):
    if (pi["total_weight"]>0.0)and (pi["total_weight"]<=0.5):
        group=0.5
        return group
      
    elif (pi["total_weight"]>0.5)and (pi["total_weight"]<=1.0):
        group=1.0
        return group
    
    elif (pi["total_weight"]>1.0)and (pi["total_weight"]<=1.5):
        group=1.5
        return group
    elif (pi["total_weight"]>1.5)and (pi["total_weight"]<=2.0):
        group=2
        return group
    elif (pi["total_weight"]>2.0)and (pi["total_weight"]<2.5):
        
        group=2.5
        return group
    elif (pi["total_weight"]>2.5)and (pi["total_weight"]<3.0):
        group=3
        return group
    elif (pi["total_weight"]>3.0)and (pi["total_weight"]<=3.5):
        group=3.5
        return group
    elif pi["total_weight"]==0.5:
        group=1.0
        return group
    else:
        group=4.0
        return group
    
new_1["final"]=new_1.apply(x,axis=1)
new_1
#new_1["Zone_y"].value_counts()
#new_1.isnull().sum()
new_1.dtypes
#new_1["final"]=new_1["final"].astype("int64")
new_1["x"]=new_1["final"]/0.5

In [9]:
new_1

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Zone_y,total_weight,final,x
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,d,1.302,1.5,3.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,d,0.615,1.0,2.0
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,d,2.265,2.5,5.0
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,b,0.700,1.0,2.0
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,d,0.240,0.5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
169,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4,b,0.750,1.0,2.0
170,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4,b,0.750,1.0,2.0
171,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2,b,0.500,0.5,1.0
172,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7,b,0.607,1.0,2.0
173,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4,b,0.515,1.0,2.0

In [10]:
def rates(r):
    if(r["Zone_y"]=="d")and (r["Type of Shipment"]=="Forward charges"):
        if(r["final"]==0.5):
            group=(r["x"]*45.4)
            return group
    
        elif(r["final"]>0.5):
            group=(45.4+((r["x"]-1.0)*44.8))
            return group
    elif(r["Zone_y"]=="d")and (r["Type of Shipment"]=="Forward and RTO charges"):
        if(r["final"]==0.5):
            group=(r["x"]*(45.4+41.3))
            return group
    
        elif(r["final"]>0.5):
            group=((45.4+41.3)+((r["x"]-1.0)*(44.8+44.8)))
            return group
        
        
    elif(r["Zone_y"]=="b")and (r["Type of Shipment"]=="Forward charges"):
        if(r["final"]==0.5):
            group=(r["x"]*33)
            return group
    
        elif(r["final"]>0.5):
            group=(33+((r["x"]-1.0)*28.3))
            return group
    elif(r["Zone_y"]=="b")and (r["Type of Shipment"]=="Forward and RTO charges"):
        if(r["final"]==0.5):
            group=(r["x"]*(33+20.5))
            return group
    
        elif(r["final"]>0.5):
            group=((33+20.5)+((r["x"]-1.0)*(28.3+28.3)))
            return group
        
    elif(r["Zone_y"]=="e")and (r["Type of Shipment"]=="Forward charges"):
        if(r["final"]==0.5):
            group=(r["x"]*56.6)
            return group
    
        elif(r["final"]>0.5):
            group=(56.6+((r["x"]-1.0)*55.5))
            return group
    elif(r["Zone_y"]=="e")and (r["Type of Shipment"]=="Forward and RTO charges"):
        if(r["final"]==0.5):
            group=(r["x"]* (56.6+50.7))
            return group
    
        elif(r["final"]>0.5):
            group=( (56.6+50.7)+((r["x"]-1.0)*(55.5+55.5)))
            return group
    #(56.6+50.7)+(55.5+55.5)
                   
new_1["Company_x_amount"]=new_1.apply(rates,axis=1)
new_1

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Zone_y,total_weight,final,x,Company_x_amount
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,d,1.302,1.5,3.0,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,d,0.615,1.0,2.0,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,d,2.265,2.5,5.0,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,b,0.700,1.0,2.0,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,d,0.240,0.5,1.0,45.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4,b,0.750,1.0,2.0,61.3
170,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4,b,0.750,1.0,2.0,61.3
171,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2,b,0.500,0.5,1.0,33.0
172,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7,b,0.607,1.0,2.0,110.1
173,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4,b,0.515,1.0,2.0,61.3

In [11]:
def c_1(w):
    if (w["Billing Amount (Rs.)"])>(w["Company_x_amount"]):
        group="Extra Charged"
        return group
    elif(w["Billing Amount (Rs.)"])<(w["Company_x_amount"]):
        
        group="Less charged"
        return group
    else:
        group="correctly charged"
        return group
new_1["Company_x_diff"]=new_1.apply(c_1,axis=1)

In [12]:
new_1

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Zone_y,total_weight,final,x,Company_x_amount,Company_x_diff
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,d,1.302,1.5,3.0,135.0,correctly charged
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,d,0.615,1.0,2.0,90.2,Extra Charged
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,d,2.265,2.5,5.0,224.6,correctly charged
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,b,0.700,1.0,2.0,61.3,correctly charged
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,d,0.240,0.5,1.0,45.4,correctly charged
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4,b,0.750,1.0,2.0,61.3,Less charged
170,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4,b,0.750,1.0,2.0,61.3,Less charged
171,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2,b,0.500,0.5,1.0,33.0,Extra Charged
172,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7,b,0.607,1.0,2.0,110.1,Less charged
173,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4,b,0.515,1.0,2.0,61.3,Less charged

In [13]:
new_1=new_1.drop_duplicates()
new_1=new_1.reset_index()
new_1

,index,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Zone_y,total_weight,final,x,Company_x_amount,Company_x_diff
0,0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,d,1.302,1.5,3.0,135.0,correctly charged
1,1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,d,0.615,1.0,2.0,90.2,Extra Charged
2,2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,d,2.265,2.5,5.0,224.6,correctly charged
3,3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,b,0.700,1.0,2.0,61.3,correctly charged
4,4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,d,0.240,0.5,1.0,45.4,correctly charged
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,167,1091117904860,2001811039,0.68,121003,302020,d,Forward charges,90.2,b,0.488,0.5,1.0,33.0,Extra Charged
120,169,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4,b,0.750,1.0,2.0,61.3,Less charged
121,171,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2,b,0.500,0.5,1.0,33.0,Extra Charged
122,172,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7,b,0.607,1.0,2.0,110.1,Less charged
123,173,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4,b,0.515,1.0,2.0,61.3,Less charged

In [14]:
pd.options.display.float_format="{:,.3f}".format
new_1.groupby("Company_x_diff").agg({"Company_x_diff":"count"})

                   Company_x_diff
Company_x_diff
Extra Charged                  84
Less charged                   24
correctly charged              16

In [15]:
new_1["difference_in_amount"]=new_1["Billing Amount (Rs.)"]-new_1["Company_x_amount"]

In [16]:
new_1
#covert last column with help of float format

,index,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Zone_y,total_weight,final,x,Company_x_amount,Company_x_diff,difference_in_amount
0,0,1091117222124,2001806232,1.300,121003,507101,d,Forward charges,135.000,d,1.302,1.500,3.000,135.000,correctly charged,0.000
1,1,1091117222194,2001806273,1.000,121003,486886,d,Forward charges,90.200,d,0.615,1.000,2.000,90.200,Extra Charged,0.000
2,2,1091117222931,2001806408,2.500,121003,532484,d,Forward charges,224.600,d,2.265,2.500,5.000,224.600,correctly charged,0.000
3,3,1091117223244,2001806458,1.000,121003,143001,b,Forward charges,61.300,b,0.700,1.000,2.000,61.300,correctly charged,0.000
4,4,1091117229345,2001807012,0.150,121003,515591,d,Forward charges,45.400,d,0.240,0.500,1.000,45.400,correctly charged,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,167,1091117904860,2001811039,0.680,121003,302020,d,Forward charges,90.200,b,0.488,0.500,1.000,33.000,Extra Charged,57.200
120,169,1091121846136,2001811305,0.500,121003,302020,d,Forward charges,45.400,b,0.750,1.000,2.000,61.300,Less charged,-15.900
121,171,1091118551656,2001812941,0.730,121003,325207,d,Forward charges,90.200,b,0.500,0.500,1.000,33.000,Extra Charged,57.200
122,172,1091117614452,2001809383,0.500,121003,303702,d,Forward and RTO charges,86.700,b,0.607,1.000,2.000,110.100,Less charged,-23.400
123,173,1091120922803,2001820978,0.500,121003,313301,d,Forward charges,45.400,b,0.515,1.000,2.000,61.300,Less charged,-15.900